
<div class='container bg-dark'>
  <div class='card mt-4 text-decoration-none'>
    {{!-- <h5 class='card-header bg-success text-white'>{{title}}</h5> --}}
    <div class='card-body'>
      <p class='card-text'>{{content}}</p>
      <blockquote class='blockquote mb-0'>
        <footer class='blockquote-footer'>{{user.name}}
          <cite title='Date'>{{format_date updatedAt}}</cite></footer>
      </blockquote>
    </div>
  </div>
</div>