{{#each blogPosts as |blogPost|}}
    <div class="container bg-dark">
        <a
            href="/dashboard/edit-post/{{blogPost.id}}"
            class="card mt-4 text-decoration-none"
        >
            <div class="card-header bg-success text-white">
                <h5>{{blogPost.title}}</h5>
                <cite title="Date">{{format_date blogPost.updatedAt}}</cite>
            </div>
        </a>
    </div>
{{/each}}

<div class="container bg-dark">
    <div class="mt-4">
        <a href="/dashboard/new-post">
            <button type="submit" class="btn btn-secondary form-control">+ New
                Post!</button>
        </a>
    </div>
</div>

{{! <script src="/js/post.js"></script> }}