<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tech Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <main>
      <div class="container">
<div class="card">
  <h5 class="card-header">Post Title</h5>
  <div class="card-body">
    <p class="card-text">Post content</p>
    <blockquote class="blockquote mb-0">
      <footer class="blockquote-footer">Username <cite title="Date">Date</cite></footer>
    </blockquote>
  </div>
</div>
</div>
    </main>
    {{!-- <footer>
        <p id="footertag">Made with a <span id="UTF-8style">&#128187</span> by Jiske</p>
        <ul id="contactlinks">
            <li>Portfolio: <a id="externallink" href="https://github.com/Jiske-N">Jiske-N</a></li>
            <!-- placeholder link to be updated in the future -->
            <li>Email: <a id="externallink" href="mailto:example@email.com">example@email.com</a></li>
        </ul>
    </footer> --}}