<div class="container bg-dark">
    <div class="card mt-4">
        <h5 class="card-header bg-success text-white">Login</h5>
        <form class="card-body" id="login-form">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input
                    type="text"
                    required="required"
                    class="form-control"
                    id="name"
                />
                <div class="form-text">We'll never share your details with
                    anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                    type="password"
                    required="required"
                    class="form-control"
                    id="password"
                />
            </div>
            <div class="mb-3">
                <button
                    type="submit"
                    class="btn btn-secondary form-control"
                >Login!</button>
            </div>

            <a href="/signup">Sign up instead</a>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>