<div class="container bg-dark">
<div class="card mt-4">
  <h5 class="card-header bg-success text-white">Login</h5>
<form class="card-body" id="login-form">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email">
    <div class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <div class="mb-3">
  <button type="submit" class="btn btn-primary form-control">Login!</button>
  </div>

  <a href="/signup">Sign up instead</a>
</form>
</div>
</div>

<script src="/js/login.js"></script>