<div class="container bg-dark">
    <div class="card mt-4">
        <h5 class="card-header bg-success text-white">Create New Post</h5>
        <form class="card-body" id="post-form">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input
                    type="text"
                    required="required"
                    class="form-control"
                    id="title"
                />
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea
                    class="form-control"
                    required="required"
                    id="content"
                    rows="3"
                ></textarea>
            </div>
            <div class="mb-3">
                <button
                    type="submit"
                    class="btn btn-secondary form-control"
                >Create</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/post.js"></script>